
* {
    box-sizing: border-box;
}

#title {
    color: dodgerblue;
    font-family: 'Roboto';
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 3fr 2fr;
    grid-gap: 20px;
}

#artist-name-container {
    grid-column: 1 / span 2;
    /* border: solid 5px black; */
}

#artist-name{
    margin-top: 20px;
    font-size: 4rem;
}

#artist-portrait{
    /* border: solid 5px black; */
    grid-column-start: 1;
    grid-row: span 1;
}

#artist-img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

#bio-container {
    /* border: solid 5px black; */
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 14px;
}

ol {
    list-style: none;
    /* border: solid 5px black; */
    grid-column: span 1;
    grid-row: span 1;
    text-align: left;
    font-size: .9rem;
}

.container2 {
    margin: -100px 0px 0px 165px;
    padding-bottom: 50px;
    /* border: solid 5px black; */
    max-width: 1200px;
}

ul {
    list-style: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: navy;
    color: white;
    text-align: center;
  }

.list-group-item {
    font-size: 1.4rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    /* border: solid 1px black; */
    border-bottom: 1px solid #ddd; 
    padding: 8px;
}

#cover{
    width: 100px;
}

#album-name {
    width: 600px;
    font-size: 1.4rem;
    word-wrap: normal;
}

#album-year {
    font-style: italic;
    color: #666666
}

#label {
    font-style: italic;
    color: #666666  
}

#review{
    color: dodgerblue;
    text-decoration: underline;
}